.center{
    width:10.0rem;
    margin:0 auto;
}
.wrap{
    width:10.666667rem;
    background:#fff4d4;
    display:block;
    max-height:166.65rem;
}
.head{ 
    position:relative;
    width:100%;
    margin-top:1.783333rem;
}
.head img{
    width:100%;
    height:11.5667rem;
    display:block;
}
.head img.everybody{
    position:absolute;
    bottom:-.7rem;
    left:23%;
    width:6.0rem;
    height:2.8667rem;
}
.head .count-down{
    position:absolute;
    top:0.6667rem;
    right:0.3333rem;
    font-size: 0.3333rem;
    color:#fff;
    font-family: "微软雅黑";
}
.head .count-down span{
    display:inline-block;
    width:0.5333rem;
    height:0.5333rem;
    vertical-align: text-bottom;
    background:#620395;
    border:1px solid #971bd7;
    margin-right: 2px;
    border-radius: 3px;
    -webkit-box-shadow:0 0 10px rgba(151, 27, 215, 1);  
    color:#fcff00;
    text-align: center;
}
.QRcodeBox{
    width:100%;
}
.QRcodeBox img{
    width: 100%;
    height: 5.2333rem;
    display: block;
}
.reg_form{
    width:100%;
    display:block;
    background:#f5e46a;
    background-size: contain;
}
.reg_form_box{
    width:9.616667rem;
    padding:1px 0 20px 0;
    background:rgba(0,0,0,0.1);
    border-radius:0.166667rem;
    margin:0 auto;
    position:relative;
    z-index: 9;
}
.title{
    width:4.933333rem;
    height:0.483333rem;
    display:block;
    margin:0.583333rem auto 0.583333rem;
}
.form_box{
    height:1.333333rem;
    border-radius:0.666667rem;
    background:#fff;
    margin:0 0.8rem 0.466667rem;
}
.form_box img{
    height:0.6rem;
    float:left;
    margin-top:0.416667rem;
    margin-left:0.533333rem;
}
.form_box input{
    width:80%;
    height:0.933333rem;
    border:none;
    margin-left:0.166667rem;
    color:#666;
    margin-top:0.25rem;
    font-size:0.4rem;
}
.phone1 input{
    width:48%;
}
.get_code{
    width:33%;
    height:1.333333rem;
    display:block;
    border-radius:0 0.666667rem 0.666667rem 0;
    text-align:center;
    line-height:1.333333rem;
    font-size:0.4rem;
    color:#fff;
    background:#f89d0f;
}
.get_time{ background:#ccc;}
.error_notice{
    height:0.666667rem;
    line-height:0.666667rem;
    font-size:0.4rem;
    color:#fff;
    text-align:center;
}

.register-next{
    height:1.333333rem;
    border-radius:0.666667rem;
    text-align:center;
    line-height:1.333333rem;
    font-size:0.533333rem;
    color:#fff;
    font-weight:700;
    display:block;
    background:#f3302a;
    margin:0 0.333333rem;
    letter-spacing:3px;
}
a.register-next:link{ color:#fff; }
.login_txt{
    text-align:center;
    margin-top:0.333333rem;
    font-size:0.4rem;
    color:#fff;
    line-height:0.5rem;
}
.login_txt span{
    font-size:0.5rem;
    font-weight: bold;
    letter-spacing:-4px;
    line-height:0.416667rem;
    vertical-align:top;
}
.login_txt a{ color:#f3302a;font-weight: bold;}
.login_txt a:link{ color:#f3302a;}
.user_agreement{
    margin-bottom:0.333333rem;
    margin-left:1rem;
}
.user_agreement p{
    color:#fff;
    font-size:0.333333rem;
    display:inline-block;
    margin:0 0.333333rem;
}
.user_agreement a{
    color:#f3302a;
}
.user_agreement a:link{
    color:#f3302a;
}
.user_agreement .checkBox{
    width:0.4rem;
    height:0.4rem;
    display:inline-block;
    background:url(../images/checkbox_flase.png) no-repeat;
    background-size:cover;
    background-size:100% 100%;
    vertical-align: middle;
    top:-2px;
    position:relative;
    margin-right:5px;
}
.user_agreement .checked{
    background:url(../images/checkbox_true.png) no-repeat;
    background-size:cover;
    background-size:100% 100%;
}
/*内容*/

.content{
    width:100%;
    position:relative;
    background:url(../images/bg.jpg)no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
}
.news1{
    width:100%;
    padding-top:0.25rem;
    background-size: cover;
}
.news1 .fuli{
    display:inline-block;
    width:4.6rem;
    height:5.45rem;
    margin:0 0.16rem;
}
.news1 .center>p{
    padding:0 0.5rem;
    color:#333333;
    font-size: 0.4rem;
    line-height: 0.6667rem;
}
.news1 .center>p i{
    color:red;
    font-style: normal;
}
.news1 .con_title0{
    width:5.5333rem;
    background:url(../images/title4.png) no-repeat;
     background-size:contain;
}
.news1 .con_title1{
    width:6.5333rem;
    background:url(../images/title.png) no-repeat;
     background-size:contain;
}
.news1 img{
    width:9.116667rem;
    height:5.183333rem;
    display:block;
    margin:0 auto;
}
.btn{
    width:3.9rem;
    height:1.266667rem;
    text-align: center;
    line-height:1.266667rem;
    display:block;
    margin:0.416667rem auto 0;
    font-size:0.466667rem;
    color:#fff;
    font-weight: bold;
    background:url(../images/btn.png) no-repeat;
    background-size: cover;
}
.news2{
    width:100%;
    padding-top: 0.25rem;
    height:9.833333rem;
}
.news2 .con_title2{
    width:6.7rem;
    background:url(../images/title2.png) no-repeat;
    background-size:contain;
}
.news2 p{
    font-size:0.366667rem;
    color:#333;
    line-height: 0.666667rem;
    text-align: center;
}
.news2 p span{
    color:#f3302a;
    font-weight: bold;
}
.news2 img{
    width:9.1rem;
    height:3.483333rem;
    margin:0.333333rem auto 0;
    display:block;
}
.news3{
    width:100%;
    padding-top:0.25rem;
    height:12.45rem;
    color:#fff;
    text-align: center;
}
.news3 h2{
    font-size: 0.9rem;
}
.news3 .con_title3{
    background:url(../images/line.png) no-repeat center;
    display: block;
    background-size:contain; 
    text-align: center;
    color:#fff;
    margin: 0.9333rem auto;
}
.news3 .common{
    margin-top:0.75rem;
}
.news3 .common ul{
    width:5.0rem;
    float:left;
    height:4.666667rem;
}
.news3 .common ul li{
    font-size:0.3667rem;
    color:#fff;
    line-height:0.533333rem;
    text-align: center;
}
.news3 .common ul li.mag{
    margin:0.333333rem 0 0.166667rem 0;
}
.news3 .common ul li img{
    width:2.033333rem;
    height:2.033333rem;
    margin:0 auto;
    display:block;
}
.news3 .common ul li b{
    font-size:0.4667rem;
    text-align: center;
    margin-bottom:0.166667rem;
}

.bottom{
    background:#f8cb42;
    background:#860217;
    color:#f33352;
    text-align: center;
}
.tel{
    width:100%;
    text-align: center;
    display:block;
}
.tel p{
    font-size:0.333333rem;
    color:#333;
}
.tel span{
    margin:0.266667rem 0;
    font-size:0.4rem;
    color:#f3302a;
    font-weight: bold;
    height:0.55rem;
    line-height: 0.55rem;
    background:url(../images/tel.png) no-repeat 3.583333rem center;
    padding-left:0.666667rem;
    display:block;
    background-size: contain;
}
.tel p.txt{
    font-size:0.333333rem;
}
.copyright {
  color: #333;
  font-size:0.333333rem;
  line-height:0.6rem;
  text-align: center;
  padding-bottom:0.333333rem;
}
.download{
    width:100%;
    height:1.783333rem;
    background:url(../images/download.png) no-repeat center center;
    background-size:cover;
    position:fixed;
    left:0;
    top:0;
    text-indent:-166.65rem;
    z-index: 999;
}
.dizhi{
    font-size:0.333333rem;
    color:#333;
    text-align: center;
}